@import 'src/theme';

.SectionHero {
  background-image: url(../../assets/images/hero.jpeg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &-Overlay {
    background-color: $blackOverlay;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Content {
    width: 100%;
    padding: 0 15px;
  }

  &-Heading {
    color: $yellow;
    line-height: 140%;
    margin-bottom: 30px;
    font-size: 20px;
  }

  &-Subheading {
    font-size: 14px;
    font-weight: 400;
    color: $white;
    line-height: 160%;
  }

  @media screen and ($mobileLarge) {
    &-Content {
      padding: 0 25px;
    }
    &-Overlay {
      justify-content: flex-start;
    }
    &-Heading {
      font-size: 24px;
      max-width: 400px;
    }
    &-Subheading {
      max-width: 550px;
    }
  }
  @media screen and ($desktop) {
    &-Content {
      padding: 0;
      max-width: 993px;
      margin: 0 auto;
    }
    &-Heading {
      font-size: 28px;
      max-width: 500px;
    }
    &-Subheading {
      max-width: 700px;
    }
  }
  @media screen and ($desktopLarge) {
    height: 500px;
    &-Content {
      max-width: 1280px;
    }
    &-Heading {
      font-size: 32px;
    }
    &-Subheading {
      font-size: 16px;
      max-width: 800px;
    }
  }
}