* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */
.header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__inner {
    max-width: 1280px;
    margin: 0 auto;   
}

.header__logo-container {
    width: 100px;
    height: 60px;
    float: left;
    margin: 10px 0;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav {
    float: right;
}

.header__nav-item {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    margin: 15px 0;
    margin-right: 60px;
    transition: all 0.3s ease-out;
}

.header__nav-item:hover {
    color:  #d33e3e;
}

.header__nav-item_active {
    color:  #d33e3e;
}

/* Section hero */
.section-hero {
    background-image: url(images/hero.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 80px;
    position: relative;
}

.section-hero__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.section-hero__content {
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.section-hero__heading {
    color: #e4b43c;
    line-height: 140%;
    width: 500px; 
    margin-bottom: 30px;
}

.section-hero__subheading {
    color: #ffffff;
    width: 800px;
    line-height: 160%;
    font-weight: 400;
}

/* General section */

.section {
    padding: 80px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.section__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Events */

.events {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.events__event {
    width: 350px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    float: left;
    margin-right: 50px;
}

.events__event:last-child{
    margin-right: 0;
}

.events__event:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.events__event-figure {
    width: 100%;
    height: 220px;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.events__event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Buttons */

.button {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d33e3e;
    border-radius: 6px;
    background: #d33e3e;
    color: #ffffff;
    transition: all 0.3s ease-out;
}

.button:hover {
    cursor: pointer;
    border-color: #e4b43c;
    background: #e4b43c;
}

/* Footer */

.footer {
    width: 100%;    
    background-color: #333333;
    padding: 40px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer__content {
    color: #d0d0d0;
    font-size: 14px;
}

