
.EventInfo {
  &-Figure {
    width: 100%;
    height: 230px;
    margin-bottom: 24px;
  }

  &-Item:last-child {
    text-align: right;
  }

  &-ItemTitle {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &-ItemValue {
    font-size: 14px;
  }

  &-Description {
    font-size: 14px;
    line-height: 150%;
  }
}


@media screen and (min-width: 768px) {


  .EventInfo-ItemTitle {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .EventInfo-Description {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {


  .EventInfo-ContentRow {
    margin-bottom: 32px;
  }
  .EventInfo-ItemTitle {
    font-size: 16px;
  }
  .EventInfo-ItemTitleValue {
    font-size: 16px;
  }
  .EventInfo-Description {
    width: 600px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {


  .EventInfo-Description {
    width: 800px;
    font-size: 16px;
  }
}
